extends layout

block content
  
  body
  h1 ketoHero

  for meal in allMeals
   
    .header 
      a(meal._id)= meal.name
    .food_container
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb


    .food_container2
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro 0%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 0%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 0%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food  
          a(meal) #{meal.foods.total_grams}
        .name_food 

      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 0g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 0g
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 0g
          .carbG carb


    //- .food_container3
    //-   .percent_wrapper
    //-     input.adjust_qty_lower(type='submit', name='subtract', value='-')
    //-     .proP_wrapper
    //-       .quantityPercentPro 0%
    //-       .proP pro
    //-     .fatP_wrapper
    //-       .quantityPercentFat 0%
    //-       .fatP fat
    //-     .carbP_wrapper
    //-       .quantityPercentCho 0%
    //-       .carbP carb
    //-   .amount_and_name_food_wrapper
    //-     .amount_food 100g
    //-     .name_food select/cream
    //-   .grams_wrapper
    //-     input.adjust_qty_higher(type='submit', name='add', value='+')
    //-     .proG_wrapper
    //-       .quantityGramsPro 0g
    //-       .proG pro
    //-     .fatG_wrapper
    //-       .quantityGramsFat 0g
    //-       .fatG fat
    //-     .carbG_wrapper
    //-       .quantityGramsCho 0g
    //-       .carbG carb
    //- .food_container4


    //-   .percent_wrapper
    //-     input.adjust_qty_lower(type='submit', name='subtract', value='-')
    //-     .proP_wrapper
    //-       .quantityPercentPro 0%
    //-       .proP pro
    //-     .fatP_wrapper
    //-       .quantityPercentFat 0%
    //-       .fatP fat
    //-     .carbP_wrapper
    //-       .quantityPercentCho 0%
    //-       .carbP carb
    //-   .amount_and_name_food_wrapper
    //-     .amount_food 100g
    //-     .name_food select/cream
    //-   .grams_wrapper
    //-     input.adjust_qty_higher(type='submit', name='add', value='+')
    //-     .proG_wrapper
    //-       .quantityGramsPro 0g
    //-       .proG pro
    //-     .fatG_wrapper
    //-       .quantityGramsFat 0g
    //-       .fatG fat
    //-     .carbG_wrapper
    //-       .quantityGramsCho 0g
    //-       .carbG carb


    //- .food_container5
    //-   .percent_wrapper
    //-     input.adjust_qty_lower(type='submit', name='subtract', value='-')
    //-     .proP_wrapper
    //-       .quantityPercentPro 0%
    //-       .proP pro
    //-     .fatP_wrapper
    //-       .quantityPercentFat 0%
    //-       .fatP fat
    //-     .carbP_wrapper
    //-       .quantityPercentCho 0%
    //-       .carbP carb
    //-   .amount_and_name_food_wrapper
    //-     .amount_food 100g
    //-     .name_food select/cream
    //-   .grams_wrapper
    //-     input.adjust_qty_higher(type='submit', name='add', value='+')
    //-     .proG_wrapper
    //-       .quantityGramsPro 0g
    //-       .proG pro
    //-     .fatG_wrapper
    //-       .quantityGramsFat 0g
    //-       .fatG fat
    //-     .carbG_wrapper
    //-       .quantityGramsCho 0g
    //-       .carbG carb



    //
      parent_wrapper
      <script src=""></script>
      </body>
      </html>


  h1 List of Meals
  a(href='/') Back to Nav

  table(border = '1')
    thead
      tr
        th Food Name
          td
      tr
        th Edit


    for meal in allMeals
          tr
            th 
                a(href='/meal/' + meal._id) Show
            td
                a(meal._id)= meal.name
            td
                a(meal) #{meal.foods.total_grams} 
            td
                a(meal) #{meal.foods.food_name}
            td
                a(meal) #{meal.foods.protien_grams}
            td
                a(meal) #{meal.foods.fat_grams}
            td
                a(meal) #{meal.foods.carbs_grams}
            td
                a(href='/meal/' + meal._id + '/editmeal') Edit

    p
        a(href="/food/newfood") newfood
    p
        a(href="/food") foods
    p
        a(href="/meal/newmeal") newmeal
    p
        a(href="/meal") meals
      



   