extends layout

block content

  h1 List of Meals
  a(href='/') Back to Nav

  table(border = '1')
    thead
      tr
        th Show
          td
      tr
        th Meal Name
      tr
          td
      tr
        th Food Name
      tr
          //- td
          //-     a(meal) #{meal.ingredient1.total_grams} 
          //- td
          //-     a(meal) #{meal.ingredient1.food_name}
          //- td
          //-     a(meal) #{meal.ingredient1.protien_grams}
          //- td
          //-     a(meal) #{meal.ingredient1.fat_grams}
          //- td
          //-     a(meal) #{meal.ingredient1.carbs_grams}
      tr
        th Food Name
          td
      tr
        th Edit


    for meal in allMeals
          tr
            th 
                a(href='/meal/' + meal._id) Show
            td
                a(meal._id)= meal.name
            td
                a(meal) #{meal.ingredient1.total_grams} 
            td
                a(meal) #{meal.ingredient1.food_name}
            td
                a(meal) #{meal.ingredient1.protien_grams}
            td
                a(meal) #{meal.ingredient1.fat_grams}
            td
                a(meal) #{meal.ingredient1.carbs_grams}
            td
                a(href='/meal/' + meal._id + '/editmeal') Edit

    p
        a(href="/food/newfood") newfood
    p
        a(href="/food") foods
    p
        a(href="/meal/newmeal") newmeal
    p
        a(href="/meal") meals
      



   