extends layout

block content

  h1 Showing 
      
 
  table(border='1')
    thead
      tr
        th Quantity
        th Name
        th Pro
        th Fat
        th Cho
      tr
        td= allFoods.quantity 
        td= allFoods.food_name
        td= allFoods.protien_grams
        td= allFoods.fat_grams
        td= allFoods.carbs_grams



      tr
        a(href='/food/:id/editfood') Edit