extends layout

block content

  h1 Showing Meal

  table(border='1')
    thead
      tr
        th Quantity
        th Name
        th Pro
        th Fat
        th Cho
      tr
        td= allMeals.quantity 
        td= allMeals.meal_name
        td= allMeals.meal_item1
        td= allMeals.meal_item2
        td= allMeals.meal_item3
        td= allMeals.meal_item4
        td= allMeals.meal_item5

  td
    a(href='/meal/:id/edit') Edit