extends layout

block content

  h1 Showing 
      
 
  table(border='1')
    thead
      tr
        th Quantity
        th Name
        th Pro
        th Fat
        th Cho
      tr
        td= allFoods.total_grams
        td= allFoods.food_name
        td= allFoods.protien_grams
        td= allFoods.fat_grams
        td= allFoods.carbs_grams



    tr
      a(href='/food/' + allFoods._id + '/editfood') Edit
  tr
    a(href='/food/') Back to Food List
  tr
    form(action='/food/' + allFoods._id + "/delete", method='post', name='delete')
      button(type='submit') Delete
