extends layout

block content



  head

  body
    h1 ketoHero

  div
    .header 
      input(type="text" name="meal_name" placeholder='meal name')
    .food_container
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foodOne.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foodOne.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foodOne.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foodOne.total_grams}g
        .name_food 
          a(meal) #{meal.foodOne.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foodOne.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foodOne.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foodOne.carbs_grams}g
          .carbG carb  


    .food_container2
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foodTwo.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foodTwo.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foodTwo.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foodTwo.total_grams}g
        .name_food 
          a(meal) #{meal.foodTwo.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foodTwo.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foodTwo.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foodTwo.carbs_grams}g
          .carbG carb  


    .food_container3
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foodThree.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foodThree.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foodThree.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foodThree.total_grams}g
        .name_food 
          a(meal) #{meal.foodThree.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foodThree.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foodThree.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foodThree.carbs_grams}g
          .carbG carb  
          

    .food_container4
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foodFour.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foodFour.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foodFour.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foodFour.total_grams}g
        .name_food 
          a(meal) #{meal.foodFour.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foodFour.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foodFour.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foodFour.carbs_grams}g
          .carbG carb  


    .food_container5
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foodFive.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foodFive.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foodFive.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foodFive.total_grams}g
        .name_food 
          a(meal) #{meal.foodFive.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foodFive.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foodFive.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foodFive.carbs_grams}g
          .carbG carb  


  table(border='1')
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
  table(border='1')
    thead
      td
      td
      td
      td
      td Meal Name:
      td
        a(meal._id)= meal.name
      td
      td
      td
      td
      tr

        th -
        th Pro
        th Fat
        th Cho
        th Grams
        th Food1
        th Pro
        th Fat
        th Cho
        th +
      tr
        td -
        td
          a(meal) #{meal.foodOne.protien_grams}
        td
          a(meal) #{meal.foodOne.fat_grams}
        td
          a(meal) #{meal.foodOne.carbs_grams}
        td 
          a(meal) #{meal.foodOne.total_grams} 
        td 
          a(meal) #{meal.foodOne.food_name}
        td
          a(meal) #{meal.foodOne.protien_grams}
        td
          a(meal) #{meal.foodOne.fat_grams}
        td
          a(meal) #{meal.foodOne.carbs_grams}
        td +    
      tr
        th -
        th Pro
        th Fat
        th Cho
        th Grams
        th Food2
        th Pro
        th Fat
        th Cho
        th +
      tr
        td -
        td
          a(meal) #{meal.foodTwo.protien_grams}
        td
          a(meal) #{meal.foodTwo.fat_grams}
        td
          a(meal) #{meal.foodTwo.carbs_grams}
        td 
          a(meal) #{meal.foodTwo.total_grams} 
        td 
          a(meal) #{meal.foodTwo.food_name}
        td
          a(meal) #{meal.foodTwo.protien_grams}
        td
          a(meal) #{meal.foodTwo.fat_grams}
        td
          a(meal) #{meal.foodTwo.carbs_grams}
        td +    

        
      //- tr
      //-   td
      //-     a(meal._id)= meal.name
      //-   td 
      //-     a(meal) #{meal.foodOne.total_grams} 
      //-   td 
      //-     a(meal) #{meal.foodOne.food_name}
      //-   td 
      //-     a(meal) #{meal.foodTwo.total_grams} 
      //-   td 
      //-     a(meal) #{meal.foodTwo.food_name}

        
        
  tr
    a(href='/meal/' + meal._id + '/editmeal') Edit
  tr
    a(href='/meal/') Back to Meal List
  tr
    form(action='/meal/' + meal._id + "/delete", method='post', name='delete')
      button(type='submit') Delete


  