extends layout

block content



  head

  body
    h1 ketoHero

  div
    .header 
      input(type="text" name="meal_name" placeholder='meal name')
    .food_container
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          select(name='meal_item1')
            //- for food in allFoods
              option(value=food._id)= food.food_name
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb  

    .food_container2
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          select(name='meal_item2')
            //- for food in allFoods
              option(value=food._id)= food.food_name
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb  

    .food_container3
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          select(name='meal_item3')
            //- for food in allFoods
              option(value=food._id)= food.food_name
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb  

    .food_container4
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          select(name='meal_item4')
            //- for food in allFoods
              option(value=food._id)= food.food_name
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb  


    .food_container5
      .percent_wrapper
        input.adjust_qty_lower(type='submit', name='subtract', value='-')
        .proP_wrapper
          .quantityPercentPro
            a(meal) #{meal.foods.protien_grams}%
          .proP pro
        .fatP_wrapper
          .quantityPercentFat 
            a(meal) #{meal.foods.fat_grams}%
          .fatP fat
        .carbP_wrapper
          .quantityPercentCho 
            a(meal) #{meal.foods.carbs_grams}%
          .carbP carb
      .amount_and_name_food_wrapper
        .amount_food 
          a(meal) #{meal.foods.total_grams}g
        .name_food 
          select(name='meal_item5')
            //- for food in allFoods
              option(value=food._id)= food.food_name
          a(meal) #{meal.foods.food_name}
      .grams_wrapper
        input.adjust_qty_higher(type='submit', name='add', value='+')
        .proG_wrapper
          .quantityGramsPro 
            a(meal) #{meal.foods.protien_grams}g
          .proG pro
        .fatG_wrapper
          .quantityGramsFat 
            a(meal) #{meal.foods.fat_grams}g  
          .fatG fat
        .carbG_wrapper
          .quantityGramsCho 
            a(meal) #{meal.foods.carbs_grams}g
          .carbG carb  


  table(border='1')
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
      tr
  table(border='1')
    thead
      tr
        //- th Show
        th Decrease
        th Pro
        th Fat
        th Cho
        th Name1
        th Pro
        th Fat
        th Cho
        th Increase
      tr
        th Name1
        th Grams
        th Food1
        th Name2
        th Grams
        th Food2
        
      tr
        td
          a(meal._id)= meal.name
        td 
          a(meal) #{meal.foodOne.total_grams} 
        td 
          a(meal) #{meal.foodOne.food_name}
        td
          a(meal._id)= meal.name
        td 
          a(meal) #{meal.foodTwo.total_grams} 
        td 
          a(meal) #{meal.foodTwo.food_name}

        
        
  tr
    a(href='/meal/' + meal._id + '/editmeal') Edit
  tr
    a(href='/meal/') Back to Meal List
  tr
    form(action='/meal/' + meal._id + "/delete", method='post', name='delete')
      button(type='submit') Delete


  